<!doctype html>
<html
  lang="{{ with site.Params.isoCode | default (site.LanguageCode | default `en`) }}{{- . -}}{{ end }}"
  dir="{{ cond (site.Params.rtl | default false) `rtl` `ltr` }}"
  class="scroll-smooth"
  data-default-appearance="{{ site.Params.defaultAppearance | default `light` }}"
  data-auto-appearance="{{ site.Params.autoSwitchAppearance | default `true` }}">
  {{- partial "head.html" . -}}
  {{- partialCached "init.html" . -}}

   {{/* 
     1. 定义背景图路径：图片放在 static/img/background.jpg
  */}}
  {{ $bgImage := "img/Frame.jpg" | relURL }}

  {{ $bodyLayout := "flex flex-col h-screen w-full leading-7 px-2" }}
  {{ $bodyColor := "text-lg text-neutral-900" }}
  {{ $bodyScrollbar := "scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600" }}
  <body class="{{ $bodyLayout }} {{ $bodyColor }} {{ $bodyScrollbar }}"
        style="background-image: url('{{ $bgImage }}'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat;">
 
    <div id="the-top" class="absolute flex self-center">
      <a
        class="px-3 py-1 text-sm -translate-y-8 rounded-b-lg bg-primary-200 focus:translate-y-0"
        href="#main-content">
        <span class="font-bold text-primary-600 pe-2">&darr;</span>
        {{ i18n "nav.skip_to_main" }}
      </a>
    </div>
    {{ $header := print "header/" site.Params.header.layout ".html" }}
    {{ if templates.Exists ( printf "partials/%s" $header ) }}
      {{ partial $header . }}
    {{ else }}
      {{ partial "header/basic.html" . }}
    {{ end }}
    <div class="relative flex flex-col grow">
      <main id="main-content" class="grow px-2">
        {{ block "main" . }}{{ end }}
        {{ if and (site.Params.footer.showScrollToTop | default true) }}
          {{- partial "scroll-to-top.html" . -}}
        {{ end }}
      </main>
      {{- partial "footer.html" . -}}
      {{ if site.Params.enableSearch | default false }}
        {{- partial "search.html" . -}}
      {{ end }}
    </div>
  </body>
  {{ if site.Params.buymeacoffee.globalWidget | default false }}
    <script
      data-name="BMC-Widget"
      data-cfasync="false"
      src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
      data-id="{{ site.Params.buymeacoffee.identifier }}"
      data-description="Support me on Buy me a coffee!"
      {{ with site.Params.buymeacoffee.globalWidgetMessage }}data-message="{{ . }}"{{ end }}
      {{ with site.Params.buymeacoffee.globalWidgetColor | default `#FFDD00` }}data-color="{{ . }}"{{ end }}
      {{ with site.Params.buymeacoffee.globalWidgetPosition }}data-position="{{ . }}"{{ end }}
      data-x_margin="18"
      data-y_margin="18"></script>
  {{ end }}
</html>
