/* 移除 layouts\partials\home\background.html 的两个渐变蒙版 */
#background-image + div,
#background-image + div + div {
  display: none !important;
}

/* Change font to Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* 去掉作者和headline字体加粗 */
h1, h2 {
  font-weight: 400 !important;
}

/* 首页字体 */
body {
  font-family: 'Inter', sans-serif;
}

.headline-small {
  font-size: clamp(0.8rem, 0.7vw, 0.9rem);
  line-height: 1.3;
  display: block;
  margin-top: 1rem;
}

/* padding补充定义 */
.space-x-10 {
  :where(& > :not(:last-child)) {
    --tw-space-x-reverse: 0;
    margin-inline-start: calc(calc(var(--spacing) * 10) * var(--tw-space-x-reverse));
    margin-inline-end: calc(calc(var(--spacing) * 10) * calc(1 - var(--tw-space-x-reverse)));
  }
}

.gap-x-50 {
  column-gap: calc(var(--spacing) * 50);
}

.mt-10 {
  margin-top: calc(var(--spacing) * 10);
}

.mt-20 {
  margin-top: calc(var(--spacing) * 20);
}

/* 首页卡片间距 */
.gap-y-30 > * + * {
  margin-top: 30px;
}

/* 头像image缩放规则 */
.author-photo {
  width: 12vw;
  height: 12vw;
  min-width: 80px;
  min-height: 80px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

